body {
   color: #333;
   font-family: 'Manrope';
}


.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   position: relative;
}

.main {
   flex: 1 1 auto;
}

[class*='__container'] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 10px 15px 0px 15px;
}

.title {
   color: #000;
   font-size: 40px;
   font-weight: 600;
   line-height: 1.3;
}

.title--center {
   text-align: center;
}

.button {
   border-radius: 5px;
   background: #F85A47;
   box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02), 0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852px 25.48148px 0px rgba(248, 90, 71, 0.04), 0px 64.81481px 46.85185px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
   color: #FFF;
   text-align: center;
   font-size: 17px;
   font-weight: 500;
   cursor: pointer;
   transition: background-color 0.3s ease 0s;
}

.button:hover {
   background-color: #d33625;
}

@media (max-width:1199px) {
   [class*='__container'] {
      max-width: 970px;
   }
}

@media (max-width:991.98px) {
   [class*='__container'] {
      max-width: 750px;
   }

   .title {
      font-size: 30px;
   }
}

@media (max-width:767.98px) {
   [class*='__container'] {
      max-width: none;
   }
}


/* ============================ HEADER ============================== */
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 105px;
   flex-wrap: wrap;
   column-gap: 10px;
   row-gap: 15px;

}

.header__logo {
   color: #31353B;
   font-size: 23px;
   font-weight: 800;
}

.header__list {
   display: flex;
   column-gap: 46px;
   row-gap: 15px;
   flex-wrap: wrap;
}

.header__item {
   position: relative;
   transition: all 0.3s ease 0s;
}

.header__item::before {
   content: '';
   position: absolute;
   bottom: -7px;
   left: 0;
   height: 2px;
   width: 0;
   background-color: #FF9900;
   transition: all 0.3s ease 0s;
}

.header__item:hover::before {
   width: 100%;
}

.header__link {
   color: #000;
   font-size: 13px;
   font-weight: 700;
}

@media (max-width:767.98px) {
   .header__container {
      flex-direction: column;
      min-height: 0;
   }

   .header__list {
      justify-content: center;
      column-gap: 15px;
      row-gap: 15px;
   }

   .header__link {
      font-size: 18px;
   }
}

/* ===================== HERO  =========================== */
.hero {
   padding-bottom: 100px;
}

.hero__container {
   padding-top: 184px;
   position: relative;
}

.hero__container::after {
   content: '';
   position: absolute;
   top: 0;
   left: 67%;
   width: 200%;
   height: 100%;
   background-color: #BDCCFF;
   ;
}


.hero-body {
   align-items: flex-start;
   display: flex;
   margin-bottom: 14px;
}

.hero-body__content {
   padding-top: 40px;
   flex: 0 1 50%;
}


.content-hero-body {
   position: relative;
   z-index: 2;
}

.content-hero-body__subtitle {
   color: #F90;
   font-size: 22px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.content-hero-body__title {
   color: #000;
   font-size: 54px;
   font-weight: 800;
   line-height: 135%;
   max-width: 484px;
   margin-bottom: 20px;
}

.content-hero-body__text {
   color: #31353B;
   font-size: 17px;
   letter-spacing: 0.17px;
   margin-bottom: 48px;
   max-width: 500px;
}


.form-hero {
   display: flex;
   box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
   margin-right: -188px;
   position: relative;
   z-index: 2;
   background: #fff url(..//img/hero/home.svg) 33px 50% no-repeat;
}

.form-hero__input {
   height: 86px;
   padding: 30px 0px 30px 74px;
   border: 1px solid #DADADA;
   flex: 1 1 auto;
   width: 100%;
   font-size: 20px;
   color: #31353B;
   background: transparent;
}


.form-hero__button {
   height: 86px;
   padding: 32px 40px;
   background-color: #F85A47;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 0.17px;
   color: #fff;
   width: 188px;
   flex: 0 0 188px;
   cursor: pointer;
}


.hero-body__slider {
   flex: 0 1 50%;
   min-width: 0;

}

.slider-hero__slide {
   position: relative;
   overflow: hidden;
   padding-bottom: 95%;
}

.slider-hero__slide img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.partners-hero__title {
   font-size: 17px;
   letter-spacing: 0.17px;
   margin-bottom: 27px;
}

.partners-hero__list {
   display: flex;
   align-items: center;
   max-width: 768px;
   justify-content: space-between;
   gap: 25px;
   flex-wrap: wrap;
   position: relative;
   z-index: 2;
}

.partners-hero__item img {
   max-width: 100%;
}

@media(max-width:1198.98px) {
   .hero__container {
      padding-top: 100px;
   }

   .hero-body {
      display: block;
   }

   .form-hero {
      margin: 0 0 40px 0;
   }

   .content-hero-body__title,
   .content-hero-body__text {
      max-width: 100%;
   }
}

@media(max-width:991.98px) {
   .hero {
      padding-bottom: 80px;
   }
}

@media(max-width:767.98px) {
   .hero {
      padding-bottom: 40px;
   }

   .content-hero-body__subtitle {
      font-size: 20px;
   }

   .content-hero-body__title {
      font-size: 30px;
      line-height: 120%;
   }

   .form-hero {
      flex-wrap: wrap;
   }

   .form-hero__button {
      flex: 1 1 100%;
   }

   .form-hero__input {
      background: #fff;
   }

   .form-hero {
      margin-bottom: 40px;
   }

   .partners-hero__list {
      justify-content: center;
   }
}

/* ====================  HOW ==================== */
.how {
   padding: 110px 0;
}

.how__title {
   margin-bottom: 70px;
}

.how__list {
   display: grid;
   grid-template-columns: repeat(3, auto);
   justify-content: space-between;
   column-gap: 30px;
   row-gap: 40px;
   padding: 0 35px;
}

.how__item {
   min-width: 260px;
}

.item-how {
   text-align: center;
   display: grid;
   justify-items: center;
   position: relative;
}

.item-how--1::after {
   content: '';
   position: absolute;
   transform: translate(55%, 0);
   top: 41px;
   right: 0;
   width: 210px;
   height: 11px;
   background: url(../img/how/line1.svg) 0 0 / 100% no-repeat;
}

.item-how--2::before {
   content: '';
   position: absolute;
   top: 41px;
   right: 0;
   width: 210px;
   height: 11px;
   transform: translate(65%, 0);
   background: url('../img/how/line2.svg') 0 0 / 100% no-repeat;
}

.item-how__icon {
   width: 90px;
   height: 90px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

.item-how--1 .item-how__icon {
   background-color: #9672FF;
}

.item-how--2 .item-how__icon {
   background-color: #4DDFFD;
}

.item-how--3 .item-how__icon {
   background-color: #F2B8EC;
}

.item-how__title {
   color: #000;
   font-size: 22px;
   line-height: 1.3;
   font-weight: 600;
   margin-bottom: 15px;
}

.item-how__text {
   font-size: 16px;
   line-height: 1.6;
}

@media(max-width:1198.98px) {
   .item-how--1::after {
      transform: translate(55%, 0);
      width: 170px;
      height: 14px;
   }

   .item-how--2::before {
      transform: translate(55%, 0);
      width: 170px;
      height: 14px;
   }
}

@media(max-width:991.98px) {
   .how {
      padding: 80px 0;
   }

   .how__title {
      margin-bottom: 40px;
   }

   .how__list {
      padding: 0;
      grid-template-columns: repeat(2, auto);
   }

   .how__item:last-child {
      grid-column: 2 span;
   }

   .item-how--2::before {
      display: none;
   }
}

@media(max-width:767.98px) {
   .how {
      padding: 40px 0;
   }

   .how__list {
      grid-template-columns: 1fr;
   }

   .how__item:last-child {
      grid-column: 1 span;
   }

   .item-how--1::after {
      display: none;
   }
}

/* ===================== DEALS ======================= */
.deals {
   padding: 123px 0;
}

.header-deals {
   display: flex;
   align-items: start;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

.header-deals__content {
   flex: 1 1 auto;
}

.header-deals__title {
   margin-bottom: 15px;
}

.header-deals__text {
   color: #000;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   max-width: 470px;
}

.header-deals__button {
   padding: 22px 34px;
}

.deals__nav {}

.nav-deals {}

.nav-deals__list {
   display: flex;
   column-gap: 54px;
   row-gap: 10px;
   flex-wrap: wrap;
   margin-bottom: 57px;
}

.nav-deals__item {}

.nav-deals__button {
   color: #000;
   font-size: 19px;
   position: relative;
   transition: color 0.3s ease 0s;
}

.nav-deals__button:hover {
   color: #F85A47;
}

.nav-deals__button:focus {
   color: #F85A47;
}

.nav-deals__button::after {
   content: '';
   position: absolute;
   bottom: -5px;
   left: 50%;
   height: 2px;
   width: 0;
   transition: all 0.3s ease 0s;
   background-color: #F85A47;
   transform: translate(-50%, -50%);
}

.nav-deals__button:focus::after {
   width: 100%;
}


.deals__body {}

.body-deals {}

.body-deals__list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   column-gap: 30px;
   row-gap: 10px;
}

.body-deals__item {
   position: relative;
}

.body-deals__options {
   position: absolute;
   z-index: 2;
   top: 14px;
   left: 14px;
   display: flex;
   gap: 6px;
}

.options-body-deals {}

.options-body-deals__text {
   border-radius: 5px;
   border: 1px solid #FFF;
   background: rgba(0, 0, 0, 0.40);
   padding: 6px 12px;
   color: #FFF;
   text-align: center;
   font-size: 12px;
}

.body-deals__link-image {
   display: block;
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   padding-bottom: 81%;
}

.body-deals__link-image img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all 0.3s ease 0s;
}

.body-deals__link-image:hover.body-deals__link-image img {
   transform: scale(1.1);
}

@media(max-width:991.98px) {
   .deals {
      padding: 80px 0;
   }

   .nav-deals__list {
      column-gap: 30px;
      margin-bottom: 35px;
   }

}

@media(max-width:771.98px) {
   .deals {
      padding: 40px 0;
   }

   .header-deals__text {
      max-width: 100%;
   }

   .header-deals__button {
      flex: 1 1 auto;
   }

   .header-deals__content {
      margin-bottom: 15px;
   }

   .header-deals {
      margin-bottom: 35px;
   }

   .nav-deals__list {
      justify-content: center;
   }
}

/* ======================= FEATURED  ========================= */

.featured {}

.featured__container {
   padding: 120px 0px;
}

.featured__title {
   margin-bottom: 95px;
}

.featured__body {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 77px;
   row-gap: 40px;
   padding: 40px 40px 80px 40px;
   background-color: #F1FFFF;
}

.featured__images {
   display: grid;
   justify-items: center;
}

.images-featured {}

.images-featured__img img {
   max-width: 100%;
}

.images-featured--mini {
   margin: -112px 20px 0 20px;
}


.featured__content {
   padding-top: 43px;
   display: flex;
   flex-direction: column;
}

.content-featured {}

.content-featured__body {
   max-width: 422px;
   flex: 1 1 auto;
}

.content-featured__title {
   color: #000;
   font-size: 31px;
   font-weight: 600;
   line-height: 150%;
   margin-bottom: 28px;
}

.content-featured__text {
   color: #545A58;
   line-height: 1.5;
   max-width: 344px;
   margin-bottom: 42px;
}

.content-featured__list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 35px;
   margin-bottom: 54px;
}

.content-featured__item {}


.item-content-featured {}

.item-content-featured__title {
   color: #000;
   font-size: 17px;
   font-weight: 700;
   margin-bottom: 12px;
}

.item-content-featured__text {
   color: #545A58;
   font-size: 17px;
   font-weight: 400;
}

.featured__button {
   /* display: block; */
   color: #FFF;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   background-color: #F85A47;
   padding: 16px 38px;
   text-transform: uppercase;
   transition: all 0.3s ease 0s;
   line-height: 150%;
   max-width: 412px;

}

.featured__button:hover {
   background-color: #dc6254;
}

@media(max-width:991.98px) {
   .featured__container {
   padding: 80px 0px;
}
   .featured__body {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   }

   .content-featured__body {
      max-width: 100%;
   }

   .content-featured__text {
      max-width: 100%;
      margin-bottom: 42px;
   }

   .featured__button {
      max-width: 100%;
   }
   .featured__title {
   margin-bottom: 50px;
}

   .content-featured__title {
      font-size: 26px;
      margin-bottom: 24px;
   }
      .featured__content {
   padding-top: 0px;

}
}

@media(max-width:767.98px) {
    .featured__container {
   padding: 40px 0px;
}
   .featured__body {
      padding: 15px 20px 40px 15px;
   }
   .featured__title {
   margin-bottom: 30px;
   margin-right: 15px;
   margin-left: 15px;
}
}

@media(max-width:479.98px) {
   .content-featured__list {
      grid-template-columns: repeat(2, 1fr);
      ;
      margin-bottom: 50px;
   }
}

